* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, helvetica neue, Arial, sans-serif;
}



/* Login & Register CSS */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.form-card {
  width: 400px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px 1px;
  display: flex;
  align-items: center;
  background-color: rgb(255 255 255 / 90%);
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  border-radius: 55px;
  background-color: #f0f0f0;
  height: 55px;
  margin-bottom: 10px;
}

.input-field label {
  padding: 0.37rem 10px 0 15px;
  color: #acacac;
  font-size: 1.5rem;
}

.input-field input {
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
  border: none !important;
  background: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-right: 0 !important;
  margin-right: 10px;
  padding: 0.375rem 0.5rem;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.input-field input:-moz-placeholder-shown {
  color: #aaa;
  font-weight: 500;
}

.input-field input:placeholder-shown {
  color: #aaa;
  font-weight: 500;
}

/*  */
.login-container {
  position: "relative";
  min-height: "100vh";
  overflow: "hidden";
}

.panels-container {
  position: absolute;
  top: -10%;
  right: 48%;
  height: 2000px;
  width: 2000px;
  background-image: linear-gradient(-45deg, #0dcaf0 0%, #0dcaf0 100%);
  transform: translateY(-50%);
  border-radius: 50%;
  background-size: cover;
}

.btn-style {
  width: 150px;
  /* height: 45px; */
  /* border-radius: 48px; */
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.5s;
  text-transform: capitalize;
  font-size: 18px;
}

@media (max-width: 991px) {
  .small-hidden {
    display: none;
  }

  .login-small-window {
    width: 100% !important;
    flex-direction: column;
  }

  .small-text {
    display: block !important;
  }

  .form-card {
    width: 400px;
  }
}

/* SideBar */
.sidebar::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.33;
  background: #000;
}

.sidebar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #282828;
  background: linear-gradient(180deg, #282828 0, rgba(17, 17, 17, 0.7));
  background-size: 150% 150%;
  opacity: 0.77;
  z-index: 3;
  top: 0;
  left: 0;
}

.sidebar .nav-li a:hover {
  background: hsla(0, 0%, 100%, 0.23);
  opacity: 1;
}

.nav-li .active {
  opacity: 1;
  background: hsla(0, 0%, 100%, 0.23);
}

.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.navbar .wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .wrapper .search {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  padding: 3px;
}

.navbar .wrapper .search input {
  border: none;
  outline: none;
  background: transparent;
}

.navbar .wrapper .search input::-moz-placeholder {
  font-size: 12px;
}

.navbar .wrapper .search input::placeholder {
  font-size: 12px;
}

.navbar .wrapper .items {
  display: flex;
  align-items: center;
}

.navbar .wrapper .items .item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.navbar .wrapper .items .item .icon {
  font-size: 20px;
}

.navbar .wrapper .items .item .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar .wrapper .items .item .counter {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
}

.btn-isActive {
  color: #fff;
  background-color: #07be6e;
  border: none;
  outline: none;
}

.btn-isActive:hover {
  background-color: #09a561;
}

.btn-isNotActive {
  color: #fff;
  background-color: #4f8dca;
  border: none;
  outline: none;
}

.btn-isNotActive:hover {
  background-color: #437eb7;
}

.span-toggle {
  background-color: black;
  height: 2px;
  margin-bottom: 4px;
  transition: all 0.6s;
  display: block;
  border-radius: 15px;

}

.p-toggle:hover {
  cursor: pointer;
}

.p-toggle:hover span:nth-child(2) {
  width: 100% !important;
}

.p-toggle:hover span:nth-child(3) {
  width: 100% !important;
}

.list-nav a:hover {
  background-color: #e9ecef;
}

.table-padding td,
.table-padding th {
  padding: 0.75rem 1rem;
}

.icons-style {
  color: #6c6c6cee;
}

.icons-style:hover {
  color: #2e2e2eee;
}

/* @media (max-width:991px) {
  table {
    padding: 10px !important;
  }
} */
@media (max-width: 991px) {
  .doc-card {
    width: 100% !important;
  }
}

@media print {
  .hidden-print {
    opacity: 0 !important;
  }
}